html {
  font-size: 16px;
}
body {
  color: #352a25;
  font-family: Georgia, serif;
  font-size: 62.5%; /* 1em = 10px */
}
h1 {
  /*font-size: 30px;*/
  font-size: 3em;
  font-weight: bold;
}
h1 a {
  /*font-size: 14px;*/
  font-size: 0.466666666666667em; /* 14px/30px */
  text-transform: uppercase;
  text-decoration: none;
  color: #6C564B;
}
.site {
  margin: 40px auto;
  width: 90%;
  background: blue;
}
.sidebar {
  float: left;
  text-align: center;
  width: 32.446809%; /* 305px/940px */
  background: red;
}
.content {
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
  margin-left: 34.574468%; /* 325px/590px */
  padding: 20px; /* 20px/325px */
  width: 62.765957%; /* 590px/940px */
}