html {
  font-size: 16px;
}
body {
  color: #352a25;
  font-family: Georgia, serif;
  font-size: 62.5%; /* 1em = 10px */
}
h1 {
  /*font-size: 30px;*/
  font-size: 3em;
  font-weight: bold;
}
h1 a {
  /*font-size: 14px;*/
  font-size: 0.466666666666667em; /* 14px/30px */
  text-transform: uppercase;
  text-decoration: none;
  color: #6C564B;
}